$phone-width: 415px;
$ipad-width: 1024px;
$desktop-width: 1280px;


@mixin media($media) {
    @if $media == phone {
        @media only screen and (max-width: $phone-width) {
            @content;
        }
    }
    @else if $media == ipad {
        @media only screen and (max-width: $ipad-width) {
            @content;
        }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $desktop-width) {
            @content;
        }
    }
}
